#!/usr/bin/env nextflow

nextflow.enable.dsl=2

params.assembly = "$HOME/sponge_paper/sponge_paper/data/interim/assemblies/FL2014_9.filtered.fna"
params.reads = "$HOME/sponge_paper/sponge_paper/data/interim/rnaseq/FL20-9_CTTGTA_L005_polyat-clean_PE{1,2}.fastq.gz"
params.outdir = "$HOME/sponge_paper/sponge_paper/data/processed/sponge-markers"
params.species = 'amphimedon'
params.cpus = 35
