#!/usr/bin/env nextflow

nextflow.enable.dsl=2

params.assembly = "$HOME/marine_drugs/marine_drugs/data/interim/assemblies/FL2015_42.filtered.fna"
params.reads = "/media/bigdrive2/evan/marine_drugs/marine_drugs/data/interim/rnaseq/FL2015-42_RNA_seqyclean_PE{1,2}.fastq.gz"
params.outdir = "$HOME/marine_drugs/marine_drugs/data/processed/sponge-markers"
params.species = 'amphimedon'
params.cpus = 8