// Nextflow Sponge Marker Annotation Pipeline Configuration.
// To choose one of the availble profiles (standard, conda, cluster) you must pass
// in the the -profile argument. i.e. nextflow run main.nf -profile cluster
// You may also specify multiple profiles by separating their names with a comma.
// i.e. nextflow run main.nf -profile standard,cluster
// Note: Standard profile is implictly used if no profile is specified by the user.
profiles {
  standard {
    process.executor = "local"
  }
  cluster {
    process.executor = "slurm"
    // queue is the slurm partition to use.
    // Set SLURM partition with queue directive.
    process.queue = "queue"
    // See https://www.nextflow.io/docs/latest/executor.html#slurm for details.
  }
  chtc {
    process.executor = "condor"
    // See https://www.nextflow.io/docs/latest/executor.html#htcondor for details.
    /* 
    ***IMPORTANT NOTES:***
    1. The pipeline must be launched from a node where the `condor_submit` command is available.
    2. The HTCondor executor for Nextflow does not support at this time the HTCondor 
    ability to transfer input/output data to the corresponding job computing node. 
    Therefore the data needs to be made accessible to the computing nodes using a 
    shared file system directory from where the Nextflow workflow has to be executed 
    (or specified via the -w option).
    */
  }
}

timeline {
  enabled = true
  file = "pipeline_info/host-annotation-timeline.html"
}
report {
  enabled = true
  file = "pipeline_info/host-annotation-report.html"
}
trace {
  enabled = true
  file = "pipeline_info/host-annotation-trace.txt"
}
dag {
  enabled = true
  file = "pipeline_info/host-annotation-dag.dot"
}

manifest {
    author = "Evan R. Rees"
    name = "host-annotation-pipelien"
    homePage = "https://github.com/WiscEvan/marine_drugs"
    description = "Sponge Marker annotation using RNAseq and metagenome assemblies"
    mainScript = "main.nf"
    version = "0.1.0"
    nextflowVersion = "20.10+"
}
