#!/usr/bin/env nextflow

nextflow.enable.dsl=2

params.assembly = "$HOME/sponge_paper/sponge_paper/data/interim/assemblies/FL2014_9.filtered.fna"
params.fwd_reads = "/media/bigdrive2/evan/sponge_paper/sponge_paper/data/interim/rnaseq/FL20-9_CTTGTA_L005_polyat-clean_PE1.fastq.gz"
params.rev_reads = "/media/bigdrive2/evan/sponge_paper/sponge_paper/data/interim/rnaseq/FL20-9_CTTGTA_L005_polyat-clean_PE2.fastq.gz"
params.se_reads = "/media/bigdrive2/evan/sponge_paper/sponge_paper/data/interim/rnaseq/FL20-9_CTTGTA_L005_polyat-clean_SE.fastq.gz"
params.outdir = "/media/bigdrive2/evan/sponge_paper/sponge_paper/data/processed/funannotate_FL2014_9"
params.busco_db = 'metazoa'
params.sample_species = 'Hippospongia lachne'
params.augustus_species = 'amphimedon'
params.cpus = 65
params.memory = '400GB'
params.extrinsicCfgFile = "$HOME/sponge_paper/sponge_paper/src/features/host-annotation/nextflow/extrinsic.cfg"