#!/usr/bin/env nextflow
nextflow.enable.dsl = 2
params.reads = "/media/bigdrive2/evan/sponge_paper/sponge_paper/data/raw/concat-rnaseq/*.fq.gz"
params.database = "/media/bigdrive1/Databases/humann_databases/"
params.interim = "/media/bigdrive2/evan/sponge_paper/sponge_paper/data/interim/pathway-profiling"
params.processed = "/media/bigdrive2/evan/sponge_paper/sponge_paper/data/processed/pathway-profiling"
params.cpus = 30
