
executor{
  queueSize=2
}

profiles {
  standard {
    process.executor = "local"
  }
  cluster {
    process.executor = "slurm"
    // queue is the slurm partition to use.
    // Set SLURM partition with queue directive.
    process.queue = "queue"
    // See https://www.nextflow.io/docs/latest/executor.html#slurm for details.
  }
}
docker {
  enabled = true
  fixOwnership = true
}
imeline {
  enabled = true
  file = "pipeline_info/pathway-profiling-timeline.html"
}
report {
  enabled = true
  file = "pipeline_info/pathway-profiling-report.html"
}
trace {
  enabled = true
  file = "pipeline_info/pathway-profiling-trace.txt"
}
dag {
  enabled = true
  file = "pipeline_info/pathway-profiling-dag.dot"
}

manifest {
    author = "Evan R. Rees"
    name = "pathway-profiling-pipeline"
    homePage = "https://github.com/WiscEvan/marine_drugs"
    description = "Sponge metagenome pathway profiling using RNAseq"
    mainScript = "main.nf"
    version = "0.1.0"
    nextflowVersion = "20.10+"
}
